{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-invoice</title>
    <link rel="stylesheet" href="{% static 'accounts/output.css' %}" />
  </head>
  <body>
    <header>
      <nav class="shadow-md bg-slate-100 border-b-2 border-blue-300">
        <div class="p-3 flex justify-between">
          <div class="flex items-center gap-2">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3.75 12h16.5m-16.5 3.75h16.5M3.75 19.5h16.5M5.625 4.5h12.75a1.875 1.875 0 0 1 0 3.75H5.625a1.875 1.875 0 0 1 0-3.75Z"
                />
              </svg>
            </div>
            <div>
              <a
                class="font-semibold text-2xl cursor-pointer text-red-500"
                href="{% url 'invoice:home' %}"
                >E-Invoice</a
              >
            </div>
          </div>
          <div
            id="toggle"
            class="text-red-600 cursor-pointer md:hidden font-medium"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
              />
            </svg>
          </div>
        </div>
        <ul id="items" class="hidden pr-5 md:block">
          <div class="md:flex justify-end gap-2 text-gray-700 text-right">
            <li class="bg-slate-200 p-2"><a href="">About</a></li>
            <li class="bg-slate-200 p-2"><a href="">Contact</a></li>
          </div>
        </ul>
      </nav>
      <!-- prettier-ignore -->
      {% if messages %}
        {% for message in messages %}
          {{message}}
        {% endfor %}
      {% endif %}
    </header>
    <main class="grid grid-cols-5">
      <div class="col-span-1 bg-gray-200 border-r-2 border-red-500">
        <div
          class="text-center text-red-500 shadow-lg mb-3 p-2 font-bold text-2xl"
        >
          DashBoard
        </div>
        <div
          class="grid grid-rows-4 p-3 bg-blue-950 font-semibold text-lg text-white text-center"
        >
          <div class="row-span-3">
            <div class="shadow-xl p-3 w-full">
              <a href="{% url 'invoice:business' %}">Business List</a>
            </div>
            <div class="shadow-xl p-3 w-full"><a href="">Customers</a></div>
            <div class="shadow-xl p-3 w-full">
              <a href="{% url 'invoice:invoice_list' %}">Invoices</a>
            </div>
          </div>
          <div class="row-span-1">
            <div class="shadow-xl p-3 w-full">
              <a href="{% url 'profile' %}">Profile</a>
            </div>
            <div class="shadow-xl p-3 w-full">
              <form action="{% url 'logout' %}" method="POST">
                {% csrf_token %}
                <button>Logout</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="col-span-4 bg-gray-200">{% block base %} {% endblock %}</div>
    </main>
  </body>
  <script>
    const toggle = document.querySelector("#toggle");
    const items = document.querySelector("#items");

    toggle.addEventListener("click", () => {
      if (items.classList.contains("hidden")) {
        items.classList.remove("hidden");
      } else {
        items.classList.add("hidden");
      }
    });
  </script>
</html>
