<!-- Extend template from home_base.html -->
<!-- prettier-ignore -->
{% extends 'accounts/home_base.html' %}
{% block base %}
<!-- Body container -->
<div class="flex justify-center m-10">
  <div class="border border-blue-700 p-10">
    <!-- Header -->
    <div class="bg-gray-300 p-5 font-bold text-2xl text-center">LOGIN</div>
    <!-- Form Input -->
    <form method="POST">
      <!-- prettier-ignore -->
      {% csrf_token %}
      <!-- Login Form display -->
      {% for field in form %}
      <div class="uppercase mt-5 font-semibold">
        {{ field.name }}:
        <span class="border-2 border-black">{{ field }}</span>
      </div>
      {% endfor %}

      <div class="mt-5 p-3 text-white text-center text-lg bg-red-500 font-bold">
        <button type="submit">Sign-in</button>
      </div>
    </form>
    <!-- Form End -->

    <!--  -->
    <div class="my-8 flex justify-center gap-3">
      <a
        class="p-3 rounded-full border-2 border-red-400"
        href="{% url 'signup' %}"
        >Sign-up</a
      >
      <a
        class="p-3 rounded-full border-2 border-red-400"
        href="{% url 'password_reset' %}"
        >Forgot Password</a
      >
    </div>
  </div>
</div>
{% endblock %}
