<!-- Extend template from base.html -->
<!-- prettier-ignore -->
{% extends 'accounts/base.html' %}
{% block base %}
<!-- Body container -->
<div class="flex justify-center m-10">
  <div class="border border-blue-700 p-10">
    <!-- Header -->
    <div class="bg-gray-300 p-5 font-bold text-2xl text-center">
      Change Password
    </div>
    <!-- Form Input -->
    <form method="POST">
      {% csrf_token %}
      <!-- Form Display -->
      {% for field in form %}
      <div class="uppercase mt-5 font-semibold">
        {{ field.name }}:
        <span class="border-2 border-black">{{ field }}</span>
      </div>
      {% endfor %}

      <div class="mt-5 p-3 text-white text-center text-lg bg-red-500 font-bold">
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
