<h1>PROFILE.HTML</h1>

<form method="POST" action="{% url 'logout' %}">
  {% csrf_token %}
  <button>Logout</button>
</form>
<a href="{% url 'edit_profile' %}">Edit profile</a>
<a href="{% url 'password_change' %}">Change Password</a>
<a href="{% url 'password_reset' %}">Rest Password</a>
<!-- prettier-ignore -->
{% if messages %}
{% for message in messages %}
{{message}}
{% endfor %}
{% endif %}

<h4>{{request.user.username}}</h4>
<img
  src="{{ user.profile.profile_pix.url }}"
  alt="{{ user.username }}'s picture"
/>
