<!-- prettier-ignore -->
{% extends 'accounts/home_base.html' %}
{% block base %}

<div class="flex justify-center m-10">
  <div class="border border-blue-700 p-10">
    <div class="bg-gray-300 p-5 font-bold text-2xl text-center">Register</div>
    <form method="POST">
      {% csrf_token %} {% for field in form %}
      <div class="uppercase mt-5 font-semibold">
        {{ field.name }}:
        <span class="border-2 border-black">{{ field }}</span>
      </div>
      {% endfor %}

      <div class="mt-5 p-3 text-white text-center text-lg bg-red-500 font-bold">
        <button type="submit">Sign-up</button>
      </div>
    </form>
    <div class="my-8">
      <a class="p-3 bg-slate-300" href="{% url 'login' %}">Login</a>
    </div>
  </div>
</div>
{% endblock %}
