<!-- Extend template from base.html -->
<!-- prettier-ignore -->
{% extends 'accounts/home_base.html' %}
{% block base %}
<!-- Body container -->
<div class="flex justify-center m-10">
  <div class="border border-blue-700 p-10">
    <!-- Header -->
    <div class="bg-gray-300 p-5 font-bold text-2xl text-center">Register</div>
    <form method="POST">
      <!-- Form Input -->
      {% csrf_token %}
      <!-- Form Display -->

      <div class="capitalize mt-5 font-semibold">
        <div>
          <label for="username">Username</label>
          <input
            class="block border border-black"
            type="text"
            name="username"
            id="username"
            placeholder="Create your username"
            required
          />
        </div>
        <div>
          <label for="email">Email</label>
          <input
            class="block border border-black"
            type="email"
            name="email"
            id="email"
            placeholder="Enter your Email"
            required
          />
        </div>
        <div>
          <label for="password">Password</label>
          <input
            class="block border border-black"
            type="password"
            name="password"
            id="password"
            placeholder="Enter your password"
            required
          />
        </div>
        <div>
          <label for="password">Confirm Password</label>
          <input
            class="block border border-black"
            type="password"
            name="password2"
            id="password2"
            placeholder="Confirm your password"
            required
          />
        </div>
      </div>

      <div class="mt-5 p-3 text-white text-center text-lg bg-red-500 font-bold">
        <button type="submit">Sign-up</button>
      </div>
    </form>
    <div class="my-8">
      <a class="p-3 bg-slate-300" href="{% url 'login' %}">Login</a>
    </div>
  </div>
</div>
{% endblock %}
