<!-- Extend template from base.html -->
<!-- prettier-ignore -->
{% extends 'accounts/base.html' %} 
{% block base %}
<!-- Body container -->
<div class="m-5">
  <!-- Add Customer Button -->
  <div class="mt-10">
    <a
      class="bg-blue-600 p-3 text-white font-bold rounded uppercase"
      href="{% url 'invoice:create_customer' %}"
      >Add Customer</a
    >
  </div>
  <!-- Table Starts -->
  <div class="mt-10">
    <!-- Table Container -->
    <table class="w-full text-left">
      <!-- Table Head -->
      <thead class="bg-red-700 text-white border border-red-700 uppercase">
        <tr>
          <th class="px-6 py-3">Customer Name</th>
          <th class="px-6 py-3">Customer Email</th>
          <th class="px-6 py-3">Customer Phone Number</th>
          <th class="px-6 py-3">Action</th>
        </tr>
      </thead>
      <!-- Table Body -->
      <tbody class="font-semibold">
        {% for customer in customers %}
        <tr>
          <td class="px-6 py-3 border border-black">
            {{ customer.customer_name }}
          </td>
          <td class="px-6 py-3 border border-black">
            {{ customer.customer_email }}
          </td>
          <td class="px-6 py-3 border border-black">
            {{ customer.customer_phone_number }}
          </td>
          <!-- Action Buttons -->
          <td class="px-6 py-3 border border-black">
            <a
              class="border rounded px-2 py-1 bg-red-950 text-white"
              href="{% url 'invoice:delete_customer' customer.id %}"
              >Delete</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
