<!-- prettier-ignore -->
{% extends 'invoice/base.html' %}
{% block base %}
<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card">
        <div class="card-header text-white bg-info">
          <div class="card-title">Delete</div>
        </div>
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}
            <h2>Are you sure about deleting this?</h2>
            <button type="submit">Yes, Delete!</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
