<!-- Extend template from base.html -->
<!-- prettier-ignore -->
{% extends 'accounts/base.html' %}
{% block base %}

<!-- Body container -->
<div class="m-10">
  <div class="card">
    <div class="card-header text-white bg-info">
      <div class="bg-red-500 w-96 p-5 font-bold text-2xl text-center">
        Delete
      </div>
    </div>
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        <h2>Are you sure about deleting this?</h2>
        <button
          class="mt-5 p-3 text-white text-center text-lg bg-red-500 font-bold"
          type="submit"
        >
          Yes, Delete!
        </button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
