{% extends 'invoice/base.html' %} {% block base %}
<div>
  <h1>E-INVOICE HOMEPAGE</h1>
</div>
<div>
  <h3>Account Details</h3>
  <table>
    <tr>
      <th>Bank Name</th>
      <th>Account Name</th>
      <th>Account Number</th>
    </tr>
    {% for account in account_detail %}
    <tr>
      <td>{{account.bank_name}}</td>
      <td>{{account.account_name}}</td>
      <td>{{account.account_number}}</td>
    </tr>
    {% endfor %}
  </table>
</div>
<div>
  <h3>Business List</h3>
  <table>
    <tr>
      <th>Business Name</th>
      <th>Business Line</th>
      <th>Business Email</th>
    </tr>
    {% for business in businesses %}
    <tr>
      <td>{{ business.business_name }}</td>
      <td>{{ business.business_line }}</td>
      <td>{{ business.business_email }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
<div>
  <h3>Customer List</h3>
  <table>
    <tr>
      <th>Customer Name</th>
      <th>Customer Email</th>
      <th>Customer Phone Number</th>
      <th>Action</th>
    </tr>
    <tr>
      {% for customer in customers %}
      <td>{{ customer.customer_name }}</td>
      <td>{{ customer.customer_email }}</td>
      <td>{{ customer.customer_phone_number }}</td>
      <td>
        <a href="{% url 'invoice:customer_detail' customer.id %}">View</a>
      </td>
      {% endfor %}
    </tr>
  </table>
</div>
{% endblock %}
