<!-- prettier-ignore -->
{% extends 'accounts/base.html' %}
{% block base %}
<div class="card-header text-white bg-info">
  <div class="card-title">Create Invoice</div>
</div>
<div class="card-body">
  <form method="POST">
    {% csrf_token %}
    <div class="form-group">
      <!-- prettier-ignore -->
      {{ form.non_form_errors }}
      <p>{{ form.invoice_name.label }}: {{ form.invoice_name }}</p>
      <p>{{ form.business_name.label }}: {{ form.business_name }}</p>
      <p>{{ form.customer_name.label }}: {{ form.customer_name }}</p>
    </div>
    <div class="card-header text-white bg-info">
      <div class="card-title">Add Items</div>
    </div>
    <div class="card-body">
      <div class="form-group">
        <!-- prettier-ignore -->
        {{ items_formset.non_form_errors }}
        {{ items_formset.management_form }}
        {% for items in items_formset %}
        <div style="display: flex">
          <!-- prettier-ignore -->
          <div>
            {{ items.item_name.label }}: {{items.item_name}}
          </div>
          <div>{{ items.item_quantity.label }}: {{items.item_quantity}}</div>
          <div>{{ items.item_price.label }}: {{items.item_price}}</div>
          <div>{{ items.item_total.label }}: {{items.item_total}}</div>
          <!-- prettier-ignore -->
          {% if items_formset.can_delete %}
          <div>{{ items.DELETE }} {{ items.DELETE.label }}</div>
          {% endif %}
        </div>
        {% endfor %}
      </div>
      <p>{{ form.grand_total.label }}: {{ form.grand_total }}</p>
    </div>
    <button type="submit">Create Invoice</button>
  </form>
</div>

{% endblock %}
