{% extends 'invoice/base.html' %} {% block base %}

<div class="container">
  <div class="row">
    <div class="col-md-10">
      <a href="{% url 'invoice:create_invoice' %}">Create Invoice</a>
      <table class="table table-primary table-striped-columns">
        <tr>
          <th>Invoice Name</th>
          <th>Invoice Number</th>
          <th>Invoice Date</th>
          <th>Invoice Total</th>
          <th>Action</th>
        </tr>
        {% for invoice in invoices %}
        <tr>
          <td>{{ invoice.invoice_name }}</td>
          <td>{{ invoice.invoice_number }}</td>
          <td>{{ invoice.created_on }}</td>
          <td>{{ invoice.grand_total }}</td>
          <td>
            <a href="{% url 'invoice:invoice_detail' invoice.invoice_slug %}"
              >View</a
            >
            |
            <a href="{% url 'invoice:delete_invoice' invoice.invoice_slug %}"
              >Delete</a
            >
          </td>
        </tr>
        {%endfor%}
      </table>
    </div>
  </div>
</div>

{% endblock %}
